{% load static %}
{% block content %}
<!DOCTYPE html>
  <head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Personal Web</title>
  </head>
  <body style="background-color:white">
	<form>
		<div class="backButton"><p><a href="{% url 'index' %}">Previous page</a></p></div>
		<div class="form-group col-sm-10">
			<label for="exampleInputName">Name</label>
			<input type="text" class="form-control" id="exampleInputName" placeholder="Name">
		</div>
		<div class="form-group col-sm-10">
			<label for="exampleInputDOB">Date of Birth</label>
			<input type="date" class="form-control" id="exampleInputDOB" placeholder="Date of Birth">
		</div>
		<div class="form-group col-sm-10">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		<div class="form-group col-sm-10">
			<label for="exampleInputUsername">Username</label>
			<input type="text" class="form-control" id="exampleInputName" placeholder="Name">
		</div>
		<div class="form-group col-sm-10">
			<label for="inputPassword" class="control-label">Password</label>
			<input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required>
			<div class="help-block">Minimum of 6 characters</div>
		</div>
		<div class="form-group col-sm-10">
			<input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
			<div class="help-block with-errors"></div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
{% endblock %}