{% load static %}
<!DOCTYPE html>
  <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <meta name="viewport" content="width = device-width, initial-scale=1.0">
	<title>Personal Web</title>
  </head>
	<body style="background-color:white">
		<div class= "pane1">
			<div class="pic"><img src=https://i.postimg.cc/5jdsgzyC/IMG_3110_-_Copy.jpg></img></div>
			<div class="greetings"><p>Hello!</p></div>
			<div class="shortDesc">
				<p>My name is Ihsan Muhammad Aulia, I’m a student at Faculty of Computer Science, Universitas Indonesia</p>
			</div>
		</div>
		<div class= "pane2">
			<div class="aboutMe"><p>About Me</p></div>
			<div class="aboutMeDesc">
				<p>I’m a full time student, and part time everything that I would like to do. In my free time, I usually read books and news, especially about tech. I’m a consistent learner, and I love to expand my abilities and experiences by trying something new. I’m based in East Jakarta.</p>
			</div>
			<div class="learnMore"><p><a href="{% url 'form' %}">Click here to fill your data</a></p></div>
			<div class="phoneImage"><img src=https://i.postimg.cc/dQpZgLDf/smartphone-call.png width="48" height="48"></img></div>
			<div class="phoneNumber"><p>08977073540</p></div>
			<div class="emailImage"><img src= https://i.postimg.cc/sxkBW0tz/mail-black-envelope-symbol.png width="48" height="48"></img></div>
			<div class="emailAddress"><p>ihsanauliaa@gmail.com</p></div>
		</div>
		<div class= "pane3">
			<div class="formalEducation">
				<p><span class="titles">Formal Educations</span><br>
				Faculty of CompSci UI<br>
				48 Senior HighSchool<br>
				49 Junior HighSchool<br>
				06 B.Apus Elementary School<br>
				</p>
			</div>
			<div class="experiences">
			<p><span class="titles">Experiences</span><br>
				DPM UI Staff (2017 - 2018)<br>
				DPM UI Internship Project Officer<br>
				</p>
			</div>
			<div class="skills">
			<p><span class="titles">Skills</span><br>
				Java<br>
				Python<br>
				Microsoft Office<br>
				</p>
			</div>
			<div class="nonFormalEdu">
			<p><span class="titles">Non Formal Educations</span><br>
				English First (2012 - 2016)<br>
				</p>
			</div>
		</div>
	</body>
{% block content %}
{% endblock %}