{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Ihsan's Personal Page</title>

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>My Profile</h3>
            </div>

            <ul class="list-unstyled">
                <li class="active">
                    <a href="{% url 'index' %}">About</a>
                </li>
                <li>
                    <a href="{% url 'experiences' %}">Experiences & Awards</a>
                </li>
                <li>
                    <a href="{% url 'educations' %}">Educations</a>
                </li>
				<li>
                    <a href="{% url 'skills' %}">Skills</a>
                </li>
				<li>
                    <a href="{% url 'forms' %}">Forms</a>
                </li>
                <li>
                    <a href="{% url 'schedule_list' %}">Schedule</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Navigation</span>
                    </button>
                </div>
            </nav>

            <div class="container-fluid p-0">

			  <section class="resume-section p-3 p-lg-5 d-flex d-column">
				<div class="my-auto">
					<div class="img-fluid float-left">
						<div class="square"><img class="img-fluid img-profile rounded-circle" src="https://i.postimg.cc/tJKVprwt/749_AAF23-4_A14-46_D3-_BEA9-_E801_B5711960.png" alt=""></div>
					</div>
				  <h1 class="mb-0">Ihsan
					<span class="text-primary">Muhammad Aulia</span>
				  </h1>
				  <div class="subheading mb-5">Jl. Bambu Kuning Selatan No. 19 · Jakarta Timur, PO BOX 13890 · 08977073540 ·
					<a href="mailto:ihsanmaulia@gmail.com">ihsanmaulia@gmail.com</a>
				  </div>
				  <p class="lead mb-5">I'm a computer science student at University of Indonesia. I usually spend my free time by reading news, especially about tech. I’m a consistent learner, and I love to expand my abilities and experiences by trying something new.</p>
				  <div class="social-icons">
					<a href="https://twitter.com/ihsanauliaa">
					  <img src= https://i.postimg.cc/J4cMx6Kw/twitter-logo-silhouette_1.png width="32" height="32"></img>
					</a>
					<a href="https://www.linkedin.com/in/ihsan-ma-175a64153/">
					  <img src= https://i.postimg.cc/SN57ZdKr/linkedin.png width="32" height="32"></img>
					</a>
					<a href="https://gitlab.com/ihsanaulia">
					  <img src= https://i.postimg.cc/0N3sjL5S/git-logo.png width="32" height="32"></img>
					</a>
				  </div>
				</div>
			  </section>
			</div>
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>
{% block content %}
{% endblock %}
