	.pic{
		position: fixed;
		left: 0px;
		top: 0px;
	}
	.pane1{
		position: fixed;
		width: 38%;
		height: 100%;
		left: 0px;
	}
	.pane2{
		position: fixed;
		width: 62%;
		height: 60%;
		left: 720px;
		top: 0px;
		background: #4BB7F4;
	}
	.pane3{
		position: fixed;
		width: 62%;
		height: 60%;
		left: 720px;
		top: 450px;
		background: #BAFFC9;
	}
	.greetings{
		position: fixed;
		width: 16%;
		height: 10%;
		left: 53px;
		top: 30px;
		font-family: Product Sans;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 100px;
		color: #FFFFFF;
	}
	.shortDesc{
		position: fixed;
		width: 616px;
		height: 228px;
		left: 55px;
		top: 437px;
		font-family: Product Sans;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 45px;
		color: #FFFFFF;
	}
	.aboutMe{
		position: fixed;
		width: 194px;
		height: 50px;
		left: 750px;
		top: 35px;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		font-size: 36px;
		color: #FFFFFF;
	}
	.aboutMeDesc{
		position: fixed;
		width: 700px;
		height: 331px;
		left: 750px;
		top: 95px;
		font-family: Product Sans;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 28px;
		color: #FFFFFF;
	}
	.learnMore{
		position: fixed;
		width: 320px;
		height: 40px;
		left: 750px;
		top: 270px;
		font-family: Product Sans;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 28px;
		color: #EC8383;
	}
	.phoneImage{
		position: fixed;
		width: 48px;
		height: 48px;
		left: 920px;
		top: 345px;
	}
	.phoneNumber{
		position: fixed;
		width: 117px;
		height: 29px;
		left: 885px;
		top: 394px;
		font-family: Product Sans;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 18px;
		color: #FFFFFF;
	}
	.emailImage{
		position: fixed;
		width: 48px;
		height: 48px;
		left: 1201px;
		top: 345px;
	}
	.emailAddress{
		position: fixed;
		width: 197px;
		height: 21px;
		left: 1126px;
		top: 394px;
		font-family: Product Sans;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 18px;
		color: #FFFFFF;
	}
	.formalEducation{
		position: fixed;
		width: 324px;
		height: 208px;
		left: 756px;
		top: 474px;
		font-family: Product Sans;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		font-size: 20px;
		color: #FFB3BA;
	}
	.experiences{
		position: fixed;
		width: 298px;
		height: 202px;
		left: 1126px;
		top: 479px;
		font-family: Product Sans;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		font-size: 20px;
		color: #FFB3BA;
	}
	.nonFormalEdu{
		position: fixed;
		width: 326px;
		height: 179px;
		left: 750px;
		top: 630px;
		font-family: Product Sans;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		font-size: 20px;
		color: #FFB3BA;
	}
	.skills{
		position: fixed;
		width: 323px;
		height: 232px;
		left: 1126px;
		top: 630px;
		font-family: Product Sans;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		font-size: 20px;
		color: #FFB3BA;
	}
	.titles{
			font-size:30px;
			font-family: Roboto;
			font-weight:Bold;
	.backButton{
		position: fixed;
		width: 307px;
		height: 116px;
		left: 53px;
		top: 20px;
		font-family: Product Sans;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 100px;
		color: #000000;