<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
	<img src = https://s15.postimg.cc/kb6qwn0gb/Ihsan_pas_foto_square.png></img src>
	<article>I study at {{ university }}</article>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
	<article>My hobby is {{ hobby }}</article>
	<article>Description : {{ bio }}</article>
	
	<h1>His name is {{ frname }}</h1>
	<img src = https://files.catbox.moe/cjes6z.jpg></img src>
	<article>I study at {{ fruniv }}</article>
	<article>NPM : {{ frnpm }}</article>
	<article>I am {{ frage }} years old</article>
	<article>My hobby is {{ frhobby }}</article>
	<article>Description : {{ frbio }}</article>
	
	<h1>His name is {{ frname2 }}</h1>
	<img src = https://vignette.wikia.nocookie.net/googology/images/f/f3/Test.jpeg></img src>
	<article>I study at {{ fruniv2 }}</article>
	<article>NPM : {{ frnpm2 }}</article>
	<article>I am {{ frage2 }} years old</article>
	<article>My hobby is {{ frhobby2 }}</article>
	<article>Description : {{ frbio2 }}</article>
	
</body>
</html>
