{% load static %}
<!DOCTYPE html>
<html>
  <head>
  <style>
  body {
	margin-bottom: 60px;
  }
  .footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
   }
   </style>
    <meta charset="utf-8" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  <div class="container">
      <br>
      <h1>Hello, Apa kabar?</h1>
  </div>

  <div class="container">
      <div class= "form-group">
            <form id="form" method="POST" action="{% url 'post_status' %}">
            {% csrf_token %}
            {{status_form}}
            <br><button type="submit" name="submit" class="btn btn-lg btn-block btn-info">Submit</button>
      </div>
  </div>

  <div class="container">
      <div>
        {% for i in all_status %}
            <h3>{{i.title}}</h3>
            <p>{{i.status}}</p>
        {% endfor %}
      </div>

  </div>
  </body>
  
  <footer class = "footer">
	<div class = "container">
		<span class = "text-muted">Ihsan Muhammad Aulia</span>
		<span class = "text-muted">© 2018 Copyright</span>
	</div>
  </footer>


</html>

{% block content %}
{% endblock %}
